PG_PASSWORD=
PG_USERNAME=
PG_DB_NAME=
SERVER_PORT=
MAILGUN_APIKEY=
MAILGUN_DOMAIN_NAME=
CLOUDINARY_NAME=
CLOUDINARY_APIKEY=
CLOUDINARY_SECRET=
MAIL_FROM=YourName YourSurname <example.example.com>
SECRET_JWT=